.hidden_for_vr{
	display:none !important;
}
.map-container {
    width: 100%;
    z-index: -10;
}

.img-container {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.img-container img {
    width: 100%;
}

.pin {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    opacity: 0;
}

.master-map {

}

.navigation {
    position: absolute;
    left: 2.4vw;
    top: 10vw;
    opacity: 0;
    z-index: 9;
}
.hideNavigation{left:-100%;}
.navigation ul {
    padding: 0;
    margin: 0;
}

.navigation li {
    list-style: none;
    padding: 0.6vw;
	width: 4.4vw;
    height: 4.4vw;
    overflow: hidden;
    transition: background-color 0.5s ease;
}

.navigation li:hover {

}

.navigation li img {
    width: 100%;
    height: 100%;
}

.info {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.info .description {
    height: 27vw;
    bottom: -27vw;
    background-color: #fff;
    left: 0;
    position: absolute;
    padding: 2.75vw 6vw 1vw;
    width: 100%;
    box-sizing: border-box;
}

.info .description .text {
    overflow: scroll;
    height: 100%;
}

.info .description .text .title {
    width: 50%;
}

.info .description .text .title {
    color: #E14612;
    font-size: 3.7vw;
    padding-bottom: 0;
	margin: 0;
}

.info .description .text p {
    color: #3F4D55;
    justify-content: flex-end;
    font-size: 2.5vw;
    line-height: 3.5vw;
}

.info .img-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
}

.info .img-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.info .img-map {
    width: 40%;
    height: 40%;
    position: absolute;
    bottom: 27vw;
    left: 2.7vw;
}

.info .img-map img{
    width: 100%;
}

.info .btn-close {
    position: absolute;
    right: 3vw;
    bottom: 18.9vw;
    padding: 0.8125vw;
    width: 3.3125vw;
    height: 3.3125vw;
    overflow: hidden;
    transition: background-color 0.5s ease;
}
.btn-close img#btn-close-info {
    width: 100%;
}
.none {
    display: none;
}

.floor-title {
    position: absolute;
    bottom: 2.7vw;
    right: 0;
    text-align: right;
    padding: 0 3.25vw;
}

.info .description .btn-pano{
    float: right;
    background-color: #E14612;
    border-radius: 0.8125vw;
    box-shadow: #0000003d 0px 0.325vw 1.4625vw;
    position: absolute;
    right: 16.2vw;
    top: -4.05vw;
    padding: 0.125vw 0.8125vw;
    color: #fff;
}

.info .description .btn-pano2{
    float: right;
    background-color: #E14612;
    border-radius: 0.8125vw;
    box-shadow: #0000003d 0px 0.325vw 1.4625vw;
    position: absolute;
    right: 53.3vw;
    top: -4.05vw;
    padding: 0.125vw 0.8125vw;
    color: #fff;
}

.info .description .btn-pano a,
.info .description .btn-pano2 a
{
    line-height: 6.5vw;
    color: #fff;
    padding: 1.625vw;
    text-decoration: none;
	font-size: 2.5vw;
}

.info .description .btn-pano img,
.info .description .btn-pano2 img
{
    float: left;
    width: 3.875vw;
    height: 4.875vw;
    display: inline-block;
    line-height: initial;
    margin: 0.975vw 0.65vw;
}

.hidden{
    display: none;
}

.pointer{
    /* background-color: #ff00007d; */
    background-color: rgba(256,256,256,0);
    position: absolute;
    z-index: 100;
    border: none;
	outline: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
}